.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.item-center{
    text-align: center;
}

.mright-2{
    margin-right: 10px;
}

/* ============== LOGIN ============== */

.login-main{
    max-width: 30%;
}

.login-body{
    text-align: start;
}

.to-signup{
    cursor: pointer;
}

.to-signup:hover{
    text-decoration: underline;
    color: mediumblue;
}

.login-footer{
    text-align: end;
}

/* ============== LOGIN ============== */

.signup-footer{
    text-align: end;
}
