.link-item {
  color: rgba(255, 255, 255, 0.55);
  padding: 1rem 0.5rem;
  display: block;
  text-decoration: none;
  transition: color 0.15s;
}

.link-item:hover {
  color: rgba(255, 255, 255, 0.8);
}

.article-page {
  justify-content: flex-end;
}

.article-list-head {
  background-color: rgba(0, 0, 0, 0.03);
}

.article-list-body {
  background-color: rgba(255, 255, 255, 1);
}

/* .article-list:hover, {

} */

/* .article-list-head:hover {
    background-color: rgba(0, 0, 0, 0.09);

  cursor: pointer;
} */



.article-list:hover {
  background-color: rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
